.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Playfair Display", serif;
  background-color: rgb(242, 237, 228);
  margin: 0;
}

header,
main {
  /* vw is always based on the width of the browser and not the parent */
  width: 80vw;
  margin: 0 auto;
}

header {
  display: flex;
}

main {
  /* 1rem = 16px = 100% */
  margin-top: 1rem;
}

.logo {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.logo > h1 {
  font-size: 2.25rem;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid black;
}

.logo > h2 {
  font-size: 1rem;
  padding: 0;
  margin: 1rem 0 0 0;
  font-style: italic;
  line-height: 0;
  color: rgba(90, 86, 79, 1);
  letter-spacing: 0.3rem;
}

.menu-checkbox,
.toggle-label {
  display: none;
}

/* flex item */
.menu-container {
  flex-grow: 1;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-item {
  flex-grow: 1;
}

.menu-item:not(:last-child) {
  margin-right: 1rem;
}

.menu-item:nth-child(1) {
  border-bottom: 4px solid red;
}

.menu-item:nth-child(2) {
  border-bottom: 4px solid lightblue;
}

.menu-item:nth-child(3) {
  border-bottom: 4px solid plum;
}

.menu-item:nth-child(4) {
  border-bottom: 4px solid green;
}

.menu-item:nth-child(5) {
  border-bottom: 4px solid yellow;
}

.menu-item a {
  display: flex;
  height: 2rem;
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  border-bottom: 4px solid transparent;
  background-color: rgba(189, 198, 233, 0.56);
}

.main-article {
  position: relative;
}

.main-article-image-container {
  height: 40vw;
  overflow: hidden;
}

.main-article-image {
  width: 100%;

  /*
   * height: 40vw;
   * object-fit: cover;
   */
}

.main-article-text {
  font-family: "Merriweather", serif;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.767);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.main-article-text > h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 0;
}

.main-article-text > h2 {
  font-size: 1rem;
  color: white;
  line-height: 1.6rem;
}

.tag {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.tag i {
  padding: 5px;
}

.tag-politics {
  background-color: red;
}

.continue-to-article {
  background-color: blue;
  color: white;
  font-style: italic;
  font-size: 1rem;
  padding: 7px;
  float: right;
  text-decoration: none;
}

.continue-to-article i {
  padding-left: 0.8rem;
}

/* if the width of the browser is less then 960px */
@media (max-width: 960px) {
  header {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .main-article-text {
    position: static;
  }
}

@media (max-width: 700px) {
  header {
    margin-top: 2rem;
  }

  .logo {
    width: 80%;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu-item {
    width: 100%;
  }

  .menu-item a {
    height: 3rem;
  }

  .main-article-text > h1 {
    font-size: 1.6rem;
  }

  .toggle-label {
    display: block;
    font-size: 2rem;
    align-self: flex-end;
    margin-bottom: -65px;
  }

  .menu-container {
    display: none;
  }

  .menu-checkbox:checked ~ .menu-container {
    display: flex;
  }
}
